@mixin dashboard($background_color) {
    background-color: $background_color;
    height:90px;
    width: 200px;
    margin:10px auto;
}

@mixin placeholder {
    background-color: $cmilk;
        text-align: center;
        // color:white;
        margin: 5px 15px;
        // box-shadow: 0px 0px 2px 2px $cwhite;
}

@mixin mainData {
    text-align: center;
    padding-top: 10px;
    color:$cwhite;
}